@import url("./fonts.css");
ul,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: rgb(202, 202, 202);
}
.header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  width: 1250px;
  background-color: #fff;
}
.logo {
  background-image: url(./images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 115px;
  margin-right: 50px;
}
.haeder-search {
  width: 845px;
  height: 100%;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.search-item {
  display: inline-block;
  padding: 0;
}
.search-item input {
  width: 425px;
  height: 28px;
  color: #1d1d1d;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 400;
  border: none;
  padding-left: 20px;
  background-color: #f5f6f8;
}
.find-product {
  width: 110px;
  height: 30px;
  color: white;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: black;
  border: none;
  margin-left: -4px;
}
.find-product:hover {
  background-color: red;
  cursor: pointer;
}
.language-ru {
  width: 1.188rem;
  height: 0.813rem;
  opacity: 0.5;
  color: #131313;
  font-family: Circe;
  font-size: 1rem;
  font-weight: 900;
}
.language-ua {
  width: 1.188rem;
  height: 0.813rem;
  opacity: 0.5;
  color: #131313;
  font-family: Circe;
  font-size: 1rem;
  font-weight: 400;
}
.language-ua:hover,
.language-ru:hover {
  color: red;
  cursor: pointer;
}
.search-product {
  background-color: red;
  width: 110px;
  height: 30px;
  border: none;
  color: white;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
}
.search-product:hover {
  background-color: #fff;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 120px;
}
.country-map {
  background-image: url(./images/ukraine.png);
  width: 100px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}
.country-item {
  vertical-align: center;
}
.country-item:hover {
  cursor: pointer;
}

.country-flag {
  display: inline-block;
  width: 25px;
  height: 18px;
  background-image: url(./images/flag.png);
  position: center;
}
.country-name {
  display: inline-block;
  padding-left: 5px;
}
.country-name::after {
  content: "\2714";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  height: 60px;
}
.menu-item {
  padding: 20px 0;
  position: relative;
}
.submenu {
  position: absolute;
  display: none;
  width: 200px;
  top: 100%;
  left: 0;
  padding-right: 30px;
  line-height: 28px;
  background-color: #fff;
}
.menu-item:hover > .submenu {
  display: block;
}
.menu-item a:hover {
  color: red;
}
.submenu-item {
  padding-left: 30px;
}
/* .sel { */
/* display: none; */
/* display: inline-block; */
/* height: 10px; */
/* width: 5px; */
/* background-color: red; */
/* } */
/* .submenu-item:hover > .sel { */
/* display: inline-block; */
/* } */
main {
}
.product {
  height: 455px;
  width: 100vw;
  background-color: #f5f6f8;
}
.product__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 945px;
  padding-top: 55px;
  padding-bottom: 25px;
  color: #1e1e1e;
}
.product__caption h2 {
  display: inline-block;
  font-family: Circe;
  font-size: 1.875rem;
  font-weight: 700;
}
.product__caption a {
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  padding-right: 50px;
}
.product__caption a:hover {
  color: red;
}

.product__samples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 945px;
  height: 190px;
  margin-right: auto;
  margin-left: auto;
}
.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  width: 157px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: red;
  border-left: 1px solid grey;
}
.product-item:first-child {
  border: 0;
}
.samples {
  height: 120px;
  /* width: 95px; */
}
.product-name {
  color: white;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
}
