@import url("./fonts.css");
ul,
h2,
h1 {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  /* background-color: rgb(202, 202, 202); */
}
.header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  width: 1250px;
  background-color: #fff;
}
.logo {
  background-image: url(./images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 115px;
  margin-right: 50px;
}
.haeder-search {
  width: 845px;
  height: 100%;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.search-item {
  display: inline-block;
  padding: 0;
}
.search-item input {
  width: 425px;
  height: 28px;
  color: #1d1d1d;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 400;
  border: none;
  padding-left: 20px;
  background-color: #f5f6f8;
}
.find-product {
  width: 110px;
  height: 30px;
  color: white;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: black;
  border: none;
  margin-left: -4px;
}
.find-product:hover {
  background-color: red;
  cursor: pointer;
}
.language-ru {
  width: 1.188rem;
  height: 0.813rem;
  opacity: 0.5;
  color: #131313;
  font-family: Circe;
  font-size: 1rem;
  font-weight: 900;
}
.language-ua {
  width: 1.188rem;
  height: 0.813rem;
  opacity: 0.5;
  color: #131313;
  font-family: Circe;
  font-size: 1rem;
  font-weight: 400;
}
.language-ua:hover,
.language-ru:hover {
  color: red;
  cursor: pointer;
}
.search-product {
  background-color: red;
  width: 110px;
  height: 30px;
  border: none;
  color: white;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
}
.search-product:hover {
  background-color: #fff;
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 120px;
}
.country-map {
  background-image: url(./images/ukraine.png);
  width: 100px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}
.country-item {
  vertical-align: center;
}
.country-item:hover {
  cursor: pointer;
}

.country-flag {
  display: inline-block;
  width: 25px;
  height: 18px;
  background-image: url(./images/flag.png);
  position: center;
}
.country-name {
  display: inline-block;
  padding-left: 5px;
}
.country-name::after {
  content: "\2714";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  height: 60px;
}
.menu-item {
  padding: 20px 0;
  position: relative;
}
.submenu {
  position: absolute;
  display: none;
  width: 200px;
  top: 100%;
  left: 0;
  padding-right: 30px;
  line-height: 28px;
  background-color: #fff;
}
.menu-item:hover > .submenu {
  display: block;
  z-index: 1;
}
.menu-item a:hover {
  color: red;
}
.submenu-item {
  padding-left: 30px;
}
/* _______________________________________modal */
.modal-backdrop {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.6;
  background-color: #1e1e1e;
}
.modal-window {
  background-color: #fff;
  position: absolute;
  height: 590px;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  height: 110px;
  width: 100%;
  background-color: grey;
}
.modal-btn-red {
  color: #fff;
  width: 160px;
  height: 40px;
  background-color: red;
  cursor: pointer;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
}
.modal-btn-black {
  color: #fff;
  width: 160px;
  height: 40px;
  background-color: black;
  cursor: pointer;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  /* background-color: #000; */
  background-image: url(./images/close-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* ___________________________________ slider */
.main-slider {
  width: 100vw;
  /* height: 560px; */
  background-color: red;
}
.slider {
  display: inline-block;
  position: relative;
  width: 85%;
  height: 700px;
  background-image: url(./images/Profine.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-bar {
  display: inline-block;
  width: 14%;
  height: 700px;
  vertical-align: top;
  background-color: red;
}
.slider-info {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider-social-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  padding-top: 50px;
}
.slider-link {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.slide {
  color: #fff;
  font-size: 2.625rem;
  font-weight: 300;
  font-family: Circe;
}
.slide-number {
  font-family: Circe;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
}
.date {
  color: white;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  padding-bottom: 25px;
}
.facebook-logo {
  background-image: url(./images/facebook-logo.png);
}
.instagram-logo {
  background-image: url(./images/instagram-logo.png);
}
.youtube-logo {
  background-image: url(./images/youtube-logo.png);
}
.slider-caption {
  position: absolute;
  display: inline-block;
  bottom: 40px;
  left: 25%;
  font-family: Circe;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.slider-bottom-container {
  display: inline-block;
  width: 100vw;
  height: 100px;
  margin-top: -4px;
}
.slider-bottom-bar {
  max-height: 95px;
  display: inline-block;
  width: 85%;
}
.slider-btn {
  display: inline-block;
  color: white;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  line-height: 100px;
  width: 14%;
  height: 100px;
}
.slider-btn-right {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 100px;
  line-height: 100px;
  width: 14%;
  color: white;
}
.slider-bottom {
  display: inline-block;
  line-height: 100px;
  width: 85.69%;
  min-height: 100px;
  color: white;
  background-color: #1e1e1e;
}
.slider-description {
  display: inline-block;
  padding-left: 50px;
}
.more-info {
  display: inline-block;
  /* margin-left: 200px; */
  color: #fff;
}

/* ________________________________product */
.product {
  /* height: 455px; */
  width: 100vw;
  background-color: #f5f6f8;
  padding-bottom: 180px;
}
.product__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 945px;
  padding-top: 55px;
  padding-bottom: 25px;
  color: #1e1e1e;
}
.product__caption h2 {
  display: inline-block;
  font-family: Circe;
  font-size: 1.875rem;
  font-weight: 700;
}
.product__caption a {
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  padding-right: 50px;
}
.product__caption a:hover {
  color: red;
}

.product__samples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 945px;
  /* height: 190px; */
  margin-right: auto;
  margin-left: auto;
}
.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  width: 157px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: red;
  border-left: 1px solid grey;
}
.product-item:first-child {
  border: 0;
}
.samples {
  height: 120px;
  /* width: 95px; */
}
.product-name {
  color: white;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
}
/* ___________________________________about */
.about {
  width: 100vw;
  background-color: #fff;
  padding-bottom: 150px;
}

.company {
  width: 945px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-80px);
}
.company-description {
  display: inline-block;
  width: 290px;
  margin-right: 85px;
}
.company-description h2 {
  color: #1e1e1e;
  font-family: Circe;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 100px;
}
.company-description p {
  color: #1e1e1e;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 45px;
}
.more {
  width: 180px;
  height: 50px;
  background-color: red;
  color: #fff;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
  border: none;
}
.more:hover {
  background-color: #fff;
  color: red;
  border: 1px solid red;
}

.company-present {
  display: inline-block;
  vertical-align: top;
}
.company-image {
  position: relative;
  margin-bottom: 50px;
}
.view {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  height: 45px;
  color: white;
  background-color: red;
  border: none;
}
.view:hover {
  background-color: black;
  border: 1px solid red;
  cursor: pointer;
}
.view-icon {
  display: inline-block;
  background-image: url(./images/triangle.png);
  width: 15px;
  height: 15px;
  margin-right: 10px;
  font-family: Circe;
  color: red;
  font-size: 0.75rem;
}

.company-indicators {
  display: flex;
  font-display: row;
  justify-content: space-around;
}
.company-present-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f8;
  width: 155px;
}
.number {
  font-family: Circe;
  font-size: 3.75rem;
  font-weight: 300;
  transform: translateY(-40px);
  margin-bottom: 15px;
}
.line {
  width: 30px;
  height: 5px;
  background-color: red;
  margin-bottom: 18px;
  transform: translateY(-40px);
}

.description {
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  transform: translateY(-40px);
}
/* _________________________advantages */
.slider-advantages {
  background-color: #f5f6f8;
}
.advantages {
  width: 945px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-135px);
}
.visual-advantage {
  width: 50%;
  display: inline-block;
  margin-right: 100px;
}
.advantage-navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #1e1e1e;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 55px;
  align-items: center;
}

.advantage-image {
  max-width: 100%;
  height: auto;
  background-image: url(./images/KBE_Chip.jpg);
}
.navi-left:hover,
.navi-right:hover {
  cursor: pointer;
  color: red;
}
.left-icon {
  display: inline-block;
  background-image: url(./images/arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 12px;
}
.right-icon {
  display: inline-block;
  width: 30px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./images/arrow-left.png);
  transform: rotate(180deg);
}
.qualities {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
.qualities h1 {
  color: #1e1e1e;
  font-family: Circe;
  font-size: 1.875rem;
  font-weight: 700;
  padding-top: 55px;
  margin-bottom: 80px;
}
.qualities h2 {
  color: #1e1e1e;
  font-family: Circe;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 45px;
}
.qualities p {
  color: #1e1e1e;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
}
/* ______________________________news */
.information {
  width: 945px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.news-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 55px;
}
.news-caption h1 {
  color: #1e1e1e;
  font-family: Circe;
  font-size: 1.875rem;
  font-weight: 700;
}
.more-news {
  color: #1e1e1e;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
}
.more-news:hover {
  color: red;
}
.news {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.news-item {
  width: 33%;
}

.news-date {
  display: inline-block;
  color: grey;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.news-line {
  height: 1px;
  width: 50%;
  display: inline-block;
  border-bottom: 2px solid grey;
}
.news-item h2 {
  font-family: Circe;
  color: #1e1e1e;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
  margin-bottom: 30px;
}
.news-item p {
  height: 60px;
  color: #1e1e1e;
  font-family: Circe;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 50px;
}
.read-more:hover {
  color: red;
}
.read-more span {
  padding-left: 20px;
}
/* _______________________________on-map */

.on-map {
  width: 100vw;
  height: 400px;
}
/* _________________________________footer */
.footer-head {
  width: 100vw;
  height: 55px;

  background-color: #3f3a3a;
}
.footer-head-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Circe;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
  color: #6b6b6b;
  width: 945px;
  margin-left: auto;
  margin-right: auto;
}
.footer-head-container a:hover {
  color: grey;
}
.footer-bottom {
  height: 50px;
  width: 100vw;
  background-color: black;
  padding-bottom: 30px;
}
.footer-bottom-container {
  color: grey;
  height: 100%;
  width: 945px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.footer-logo {
  display: inline-block;
  width: 100px;
  height: 45px;
  background-image: url(./images/footer-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(10px);
}
.company-developer {
  color: #464644;
}
.social-link {
  width: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.link {
  color: #464644;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.facebook-link {
  background-image: url(./images/facebook.png);
}
.instagram-link {
  background-image: url(./images/instagram.png);
}
.youtube-link {
  background-image: url(./images/youtube.png);
}
/* __________________________________footer */

.footer-body {
  width: 100vw;
  background-color: #1e1e1e;
}

.footer-body-container {
  width: 945px;
  margin-left: auto;
  margin-right: auto;
}

.footer-body-item {
  color: white;
  padding-top: 80px;
  padding-bottom: 90px;
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
}

.footer-navi {
  display: inline-block;
  width: 62%;
  height: 100%;
}

.footer-navi h2 {
  display: inline-block;
  margin-bottom: 30px;
}
.footer-navi-item {
  margin-bottom: 20px;
  color: #fff;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.875rem;
}
.footer-navi-item:last-child {
  margin: 0;
}
.footer-info {
  display: inline-block;
  width: 33%;
}
.footer-navi-item {
  display: block;
}
.footer-info-item {
  display: block;
  color: #878787;
  font-family: Circe;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 25px;
}
.footer-info-item:last-child {
  margin: 0;
}

.footer-info-item:hover {
  color: #fff;
}
.footer-navi-item:hover {
  color: #878787;
}
.footer-country {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-map {
  background-image: url(./images/map-ukraine.png);
  width: 100px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.subscription {
  width: 340px;
  border: 0;
  background-color: #1e1e1e;
  line-height: 30px;
}
.subscribe-btn {
  background-color: #1e1e1e;
  border: 0;
  color: #fff;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 700;
}
.subscribe-btn span {
  padding-left: 10px;
}

.footer-body-item h2 {
  margin-bottom: 30px;
  font-family: Circe;
  font-size: 1.125rem;
  font-weight: 700;
}
.footer-body-item form {
  border-bottom: 1px solid #878787;
  margin-bottom: 30px;
  font-family: Circe;
  font-size: 0.75rem;
  font-weight: 400;
}
